
  <header>
    <div class="container-fluid p-0 overflow-x-hidden">
      <nav class="navbar navbar-expand-lg bg-*">
        <div class="container-fluid">
          <a class="logo navbar-brand fs-2" href="#">William's Coffee</a>
          <button
            class="company-toggler navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa-solid fa-bars me-2"></i>
            <span>menu</span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="company-navbar navbar-nav align-items-start">
              <li class="nav-item">
                <a class="company__a nav-link" aria-current="page" href=" "
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/menu"
                  >Menu</a
                >
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/locales">Locales</a>
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/empresa">Empresa</a>
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/contacto"
                  >Contacto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="item carousel-item active">
        <img src="https://images.unsplash.com/photo-1442550528053-c431ecb55509?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="item carousel-item">
        <img src="https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="item carousel-item">
        <img src="https://images.unsplash.com/photo-1525445842399-d8a6bec24be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="locals-container d-flex">´
    <div class="locals-background-text-container rounded-2">
    <div class="locals-text-container d-flex rounded-5">
    <h1 class="locals__h1">William's Coffee</h1>
    <p class="locals__p text-light fs-2">Yerba Buena</p>
    <p class="locals__p-nro-2 text-light">Abierto de 8 a 20 hs. <br>1234-5678-9101 <br>
      Gral. Lamadrid 2046</p>

    </div>
  </div>
    <div class="locals-map-container">
    <div class="locals__map mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=yerba buena&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
  </div>
    <div
  class="footer-container container-fluid position-absolute d-flex align-items-center justify-content-between"
>
  <div class="footer__copyright row col-md-8 text-center">
    <p class="footer__copyright-p text-light small">© Copyright 2023. WILLIAM'S COFFEE SRL. | by AFP</p>
  </div>
  <div class="footer__icons col-md-4">
    <ul class="footer__ul d-flex">
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>
