

.history{
    color: #fff;
    bottom: 20%;
    left: 45%;
    background: rgba(0, 0, 0, 0.6);
}
.history span{
    font-family: 'Tangerine', cursive;
    font-size: 200%;
    color: #F8A934;
    position: relative;
    bottom: -20px;
}
  /**Movil SM**/

@media (max-width:424px){
    .history {
        bottom: 10%;
        left: 25%;
        height: 50vw;
    }
    .history__h1-nro-1-span-1{
        font-size: 8.5vw !important;
        color: #F8A934;
        position: relative;
        bottom: -20px;
    }
    .history__h1-nro-2{
        font-size: 4vw !important
    }
    .history__p{
        font-size: 2vw;
    }
}
    /**Movil LG - MD**/

    @media (max-width: 767px) and (min-width: 425px){
    .history {
        bottom: 10%;
        left: 25%;
    }
    .history__h1-nro-1-span-1{
        font-size: 6.5vw !important;
        color: #F8A934;
        position: relative;
        bottom: -20px;
    }
    .history__h1-nro-2{
        font-size: 4vw !important
    }
    .history__p{
        font-size: 2vw;
    }
}

    /**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .history {
        bottom: 10%;
    }
}