

.history{
    color: #fff;
    bottom: 10%;
    left: 45%;
    background: rgba(0, 0, 0, 0.6);
}
.history span{
    font-family: 'Tangerine', cursive;
    font-size: 200%;
    color: #F8A934;
    position: relative;
    bottom: -10px;
}
  /**Movil SM**/

@media (max-width:424px){
    .history {
        bottom: 25%;
        left: 25%;
        height: 30%;
    }
    .history__h1-nro-1-span-1{
        font-size: 80% !important;
        color: #F8A934;
        position: relative;
        bottom: -20px;
    }
    .history__p{
        font-size: 1.8vw;
        
    }
}
    /**Movil LG - MD**/

    @media (max-width: 767px) and (min-width: 425px){
    .history {
        bottom:20vw;
        left: 25%;
        height: 50vw;
    }
    .history__h1-nro-1-span-1{
        font-size: 2rem !important;
        color: #F8A934;
        position: relative;
        bottom: -20px;;
    }
    .history__p{
        font-size: 1.5vw !important;
    }
}

    /**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .history {
        bottom: 2%;
    }
    .history__p{
        font-size: 2vw !important;
    }
}