<div class="container-products container-fluid p-0 overflow-x-hidden">
<div class="imgs d-flex">
    <img src="https://images.unsplash.com/photo-1606486544554-164d98da4889?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="img__left img-fluid col-sm-6 w-50 h-25" alt="">
    <img src="https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184&q=80" class="img__right img-fluid col-sm-6" alt="">
    <div class="history col-sm-12 w-50 d-flex justify-content-center position-absolute flex-column p-4">
         <h1><span class="history__h1-nro-1-span-1">Descubre</span></h1>
        <h1 class="history__h1-nro-2 fw-bold"> NUESTRA HISTORIA</h1>
        <p class="history__p">  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae distinctio magni perferendis enim dolore, eligendi ratione nemo at deserunt corrupti ex architecto hic necessitatibus illum suscipit temporibus ipsa incidunt ea.   </p>
    </div>
</div>

</div>