<div class="container-history container-fluid p-0 overflow-x-hidden">
<div class="imgs d-flex">
    <img src="../../../assets/img_left.jpg" class="img__left img-fluid col-sm-6" alt="">
    <img src="../../../assets/img_right.jpg" class="img__right img-fluid col-sm-6 h-25" alt="">
    <div class="history col-sm-12 w-50 d-flex justify-content-center position-absolute flex-column p-4">
         <h1><span class="history__h1-nro-1-span-1">Quienes Somos?</span></h1>
        <p class="history__p">  William's Coffee es una pequeña cafetería fundada en 1995 por William, un amante del café y la repostería. Desde el primer día, se convirtió en un lugar popular gracias a su ambiente acogedor, sus productos de calidad y su atención personalizada. A lo largo de los años, ha ido evolucionando y mejorando, incorporando nuevos productos y servicios, y contratando a un equipo altamente capacitado. A pesar de la competencia de grandes cadenas de cafeterías, William's Coffee ha logrado mantenerse como un lugar de referencia en la ciudad gracias a su atención personalizada y su ambiente acogedor. Hoy en día, es muy querida por los habitantes de la ciudad y por los turistas que visitan el lugar, y William sigue siendo el alma de la cafetería.   </p>
    </div>
</div>

</div>