<div
  class="footer-container container-fluid position-absolute d-flex align-items-center justify-content-between"
>
  <div class="footer__copyright row col-md-8 text-center">
    <p class="footer__copyright-p text-light small">© Copyright 2023. WILLIAM'S COFFEE SRL. | by AFP</p>
  </div>
  <div class="footer__icons col-md-4">
    <ul class="footer__ul d-flex">
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>
