
<header>
    <div class="container-fluid p-0 overflow-x-hidden">
      <nav class="navbar navbar-expand-lg bg-*">
        <div class="container-fluid">
          <a class="logo navbar-brand fs-2" href="#">William's Coffee</a>
          <button
            class="company-toggler navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa-solid fa-bars me-2"></i>
            <span>menu</span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="company-navbar navbar-nav align-items-start">
              <li class="nav-item">
                <a class="company__a nav-link" aria-current="page" href=" "
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/menu/"
                  >Menu</a
                >
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/locales">Locales</a>
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/empresa">Empresa</a>
              </li>
              <li class="nav-item">
                <a class="company__a nav-link" routerLink="/contacto"
                  >Contacto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="item carousel-item active">
        <img src="https://images.unsplash.com/photo-1442550528053-c431ecb55509?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="item carousel-item">
        <img src="https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="item carousel-item">
        <img src="https://images.unsplash.com/photo-1525445842399-d8a6bec24be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<div class="company-container container-fluid">
    <div class="company-text-container d-flex flex-column">
        <p class="company__p text-light fw-medium">William's Coffee es una pequeña cafetería fundada en 1995 por William, un amante del café y la repostería. Desde el primer día, se convirtió en un lugar popular gracias a su ambiente acogedor, sus productos de calidad y su atención personalizada. A lo largo de los años, ha ido evolucionando y mejorando, incorporando nuevos productos y servicios, y contratando a un equipo altamente capacitado. A pesar de la competencia de grandes cadenas de cafeterías, William's Coffee ha logrado mantenerse como un lugar de referencia en la ciudad gracias a su atención personalizada y su ambiente acogedor. Hoy en día, es muy querida por los habitantes de la ciudad y por los turistas que visitan el lugar, y William sigue siendo el alma de la cafetería.</p>
    </div>
    <div class="company-img-container">
        <img src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid mt-1" alt="">
    </div>
    <div class="aboutus-container container-fluid">
      <div class="aboutus-text-container">
          <p class="aboutus__p fw-medium">
              William's Coffee es una empresa familiar que ha crecido con el tiempo, y que cuenta con un equipo de trabajadores apasionados por su trabajo. William, el fundador, es el corazón y el alma de la empresa, y siempre ha sido muy cercano y amable con sus empleados.
              
              El equipo de baristas y pasteleros de William's Coffee son personas altamente capacitadas y comprometidas con la calidad de los productos que ofrecen. Muchos de ellos llevan trabajando en la cafetería desde hace muchos años, y han aprendido de la mano de William el arte de hacer un buen café y una buena repostería.
              
              Además, William siempre ha valorado el trabajo de sus empleados y ha tratado de mantener un ambiente de trabajo positivo y colaborativo. La empresa ha ofrecido beneficios como seguro médico, vacaciones pagadas y días libres por enfermedad a sus trabajadores, y ha promovido la capacitación continua para que puedan mejorar sus habilidades y conocimientos.
              
              Gracias a este ambiente de trabajo positivo y a la calidad de los productos que ofrecen, los trabajadores de William's Coffee se sienten muy motivados y comprometidos con la empresa. Muchos de ellos se sienten parte de la familia, y han desarrollado una gran lealtad hacia la empresa y hacia William.
              
              En resumen, la empresa William's Coffee cuenta con un equipo de trabajadores apasionados, altamente capacitados y comprometidos con la calidad de los productos que ofrecen. Además, gracias a un ambiente de trabajo positivo y colaborativo, los trabajadores se sienten motivados y comprometidos con la empresa y con su fundador, William.</p>
      </div>
      <div class="aboutus-img-container">
        <img src="https://images.unsplash.com/photo-1673280529106-73f7cddccf4a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="img-fluid" alt="">
      </div>
  </div>
</div>
<div
  class="footer-container container-fluid position-absolute d-flex align-items-center justify-content-between"
>
  <div class="footer__copyright row col-md-8 text-center">
    <p class="footer__copyright-p text-light small">© Copyright 2023. WILLIAM'S COFFEE SRL. | by AFP</p>
  </div>
  <div class="footer__icons col-md-4">
    <ul class="footer__ul d-flex">
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="list-unstyled m-2">
        <a class="m-2 fs-2" href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>
