<!--Header-Container Start-->
<header>
  <div class="container-fluid p-0 overflow-x-hidden">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-*">
      <div class="container-fluid">
        <a class="logo navbar-brand fs-2" href="#">William's Coffee</a>
        <button class=" company-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars me-2"></i>
          <span>menu</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="company-navbar navbar-nav align-items-start">
            <li class="nav-item">
              <a class="company__a nav-link" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="company__a nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item">
              <a class="company__a nav-link" href="#">Locales</a>
            </li>
            <li class="nav-item">
              <a class="company__a nav-link" href="#">Empresa</a>
            </li>
            <li class="nav-item">
              <a class="company__a nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>
  <!--Header-Carousel Start -->
<div id="carouselExampleFade" class="header-carousel carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-container carousel-inner">
    <div class="carousel__nro-1 carousel-item active" data-bs-interval="10000">
      <img
        src="https://images.unsplash.com/photo-1536227661368-deef57acf708?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="carousel__img-1 d-block w-100" alt="..." />
      <div class="carousel-company col-sm-13 d-inline-block carousel-caption d-sm-block rounded-5">
        <h5 class="company__name text-nowrap col-sm-13">William's Coffee</h5>
        <p class="company__slogan col-sm-13">
          La pasión por el café, en cada taza.
        </p>
      </div>
    </div>
    <div class="carousel-nro-2 carousel-item" data-bs-interval="10000">
      <img
        src="https://images.unsplash.com/photo-1518831258426-b400d25ca47d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="carousel__img-2 d-block w-100" alt="..." />
      <div class="company-local m-2 p-2 d-inline-block carousel-caption position-absolute rounded-5">
        <h5 class="company-local__h5">
          <span class="company-local__h5-span-1 fs-1">William's Coffee<br></span>
          <span class=" company-local__h5-span-2">Yerba Buena <br></span>
        </h5>
        <p class="company-local__p fs-2">
          Pasa por nuestra sucursal en Yerba Buena y conoce del verdadero sabor del café
        </p>
      </div>
    </div>
    <div class="carousel-nro-3 carousel-item" data-bs-interval="10000">
      <img
        src="https://images.unsplash.com/photo-1612880202987-b1ec29fb0839?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        class="carousel__img-3 d-block w-100" alt="..." />
      <div class="company-goals carousel-caption d-inline-block position-absolute rounded-5">
        <h5 class="company-goals__h5">
          <span class="company-goals__h5-span-1">Nuestra pasión?</span><br /><span
            class="company-goals__h5-span-2 fs-1 text-uppercase fw-bold">
            El Café Perfectamente Hecho.</span>
        </h5>
        <p class="company-goals__p fs-1">
          Nosotros somos expertos en la materia para traer lo mejor del café a
          su mesa.
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-button-left carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-button-right carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <!--Header-Carousel End -->
</div>

<!--Header-Container End-->
