.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=1060&t=st=1677616986~exp=1677617586~hmac=81e161489b3c829c04bdcf1517d495be0395f9140242266452e9530ee4832daf');
    background-position:50% 50%;
  }